<h2 style="color:#9E9E9E;">Artists: </h2>

    <table style="width:100%">
      <tr>
        <th>Name </th>
        <th>Total Stock </th>
        <th>Information</th>
      </tr>
        <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= Album.albums_per_artist(artist.id) %></td>
        <td><a href="/artist/:id">View Info</a></td>
      </tr>
        <% end %>
  </table>
