<img src="http://cvltnationbizarre.com/images/logos/14/BIZlogo_300_7679-gq.jpg" class="shop_logo" alt="" />

<h2 style="color:white;">Artists: </h2>
  <h3 style="color:white">Click on the artist name to view album information</h3>

<form action="/albums" method="get">
  <button class = "button" type="submit" formaction="/albums">View All Albums</button>
</form>

<form action="/artists/new" method="get">
  <button class = "button" type="submit" formaction="/artists/new">Add a New Artist</button>
</form>

    <table style="width:100%">
      <tr>
        <th>Name </th>
        <th>Total Stock </th>
      </tr>
        <% @artists.each do |artist| %>
      <tr>
        <td><a href="/artists/<%= artist.id %> "><%= artist.name %></a></td>
        <td><%= Album.albums_per_artist(artist.id) %></td>
      </tr>
        <% end %>
        <tr>
          <td style="color:white;">Total Stock</td>
          <td><%= Album.total_stock %></td>
        </tr>
  </table>
