<h2 style="color:white;">Artists: </h2>

<form action="/albums" method="get">
  <button class = "button" type="submit" formaction="/albums">View All Albums</button>
</form>

<form action="/artists/new" method="get">
  <button class = "button" type="submit" formaction="/artists/new">Add a New Artist</button>
</form>

    <table style="width:100%">
      <tr>
        <th>Name </th>
        <th>Total Stock </th>
        <th>Information</th>
      </tr>
        <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= Album.albums_per_artist(artist.id) %></td>
        <td><a href="/artists/<%= artist.id %> ">View Info</a></td>
      </tr>
        <% end %>
  </table>
