<form method="post" action="/artists/<%= @artist.id %>">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="first-name-field" class="label">Name:</label>
    <div class="field">
      <input
        type="text"
        name="name"
        id="name-field"
        placeholder="Artist Name"
        required
        value="<%= @artist.name %>"
      />
   </div>
  </div>


  <button class="big-button button">Edit Artist Information</button>
</form>
