<div class="homepage_buttons">
  <h1 style="color:white">Cvlt Nation Database</h1>
</div>
  <img src="http://www.cvltnation.com/wp-content/uploads/2015/01/HEXISTGIAC_splitcover.jpg" class="shop_logo small">

<footer>
  <div class="homepage_buttons">
    <form action="/artists" method="get">
      <button class = "button" type="submit" formaction="/artists">View Artists</button>
    </form>

    <form action="/albums" method="get">
      <button class = "button" type="submit" formaction="/albums">View Albums</button>
    </form>
  </div>
</footer>
