<!DOCTYPE html>
<html>
  <head>
    <div class="header">
    <header class="search_bar">
      <form action="/result" method="get">
        <input class="input" type="text" name="search" placeholder="Search here..." required>
        <button class="button" type="submit">Search</button>
    </form>
    </header>
  </div>

    <meta charset="utf-8">
    <title>Music Store Database</title>
  <link rel="stylesheet" href='/style.css'>
  <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <div id="background">
    <img src="https://www.walldevil.com/wallpapers/a82/white-black-kroner-fog-silence-gloomy-trees-below-wood-wallpaper-image.jpg" class="stretch" alt="" />
</div>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
