
body, html {
    font-family: Helvetica, Arial, sans-serif !important;
}

header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color: black
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -2;
}

 .shop_logo {
    filter: invert(100%);
    margin:auto;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
}

.black_background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:150px;
    background-color: black;
    background-clip: border-box;
    z-index: -1;
}

.band_logo {
  max-width: 250px;
  max-height: 250px;
}

.band_logo_small {
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}

.shop_logo.small {
  filter: invert(0%);
  border: 2px solid white;
  width: 550px;
}

.stretch {
    width:100%;
    height:100%;
}

h1 {
  padding-top: 1px;
  margin-bottom: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "UnifrakturCook";
  font-size: 75px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    background-color: rgba(117, 117, 117, 0.5);
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 1500;
    line-height: 15px;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  background-color: rgba(117, 117, 117, 0.5);
  color: white;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 1500;
  line-height: 15px;
}


a {
    color:#9E9E9E;
    text-decoration: none;
}

a:hover
{
     color:#444444;
     text-decoration:none;
     cursor:pointer;
}

.button {
    background-color: rgba(0,0,0,0.75);
    border: none;
    color: #9E9E9E;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
	  font-size: 15px;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: 500;
	  line-height: 15px;
    display: inline-block;
    margin-right:5px;
}

  .homepage_buttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .table_button {

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 1500;
    line-height: 15px;

        }

.button:hover
{
     color:#444444;
     cursor:pointer;
}

.table_button:hover
{
     color:black;
     cursor:pointer;
}

.delete_button {
    background-color: rgba(0,0,0,0.75);
    border: none;
    color: #9E9E9E;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
	  font-size: 15px;
	  font-style: normal;
	  font-variant: normal;
	  font-weight: 500;
	  line-height: 15px;
    display: inline-block;
    margin-right:5px;
}

.delete_button:hover
{
     color:#444444;
     cursor:pointer;
}


input {
    color: white;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
}

input[type=text] {
    width:auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
}

select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.label {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
}

form {
  display:inline-block;
  margin-right:5px;
}

.result_header {
  margin-bottom: 50px;
}

.results {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.search_bar {
  display: flex;
  justify-content: flex-end;
}

.show_artist_buttons {
  display: flex;
  justify-content: flex-start;
}
