<form method="post" action="/artists/message">

  <div class="field-group">
    <label for="first-name-field" class="label">Name:</label>
    <div class="field">
      <input
        type="text"
        name="name"
        id="name-field"
        placeholder="Artist Name"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="genre-field" class="label">Genre:</label>
    <div class="field">
      <input
        type="text"
        name="genre"
        id="genre-field"
        placeholder="Genre"
      />
   </div>
  </div>


  <div class="field-group">
    <label for="logo-field" class="label">Logo URL (Optional):</label>
    <div class="field">
      <input
        type="text"
        name="logo"
        id="logo-field"
        placeholder="Logo URL"
      />
   </div>
  </div>


  <button class="big-button button">Add New Artist</button>
</form>
