<form method="post" action="/albums/album_message">

<p></br></br></br></p>

<h2 style="color:white">Please input the details to create a new <%= @artist.name %> album</h2>

  <div class="field-group">
    <label for="Artist-field" class="label"></label>
    <div class="field">
      <input
        type="hidden"
        name="artist_id"
        id="artist-field"
        value="<%= @artist.id %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="Artist-field" class="label"></label>
    <div class="field">
      <input
        type="hidden"
        name="sale_id"
        id="artist-field"
        value="<%= @sale.id %>"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="title-field" class="label">Album Title:</label>
    <div class="field">
      <input
        type="text"
        name="title"
        id="title-field"
        placeholder="Album Title"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="buy_price-field" class="label">Buy Price (£):</label>
    <div class="field">
      <input
        type="text"
        name="buy_price"
        id="buy_price-field"
        placeholder="Buy Price"
        required
      />
   </div>
  </div>

  <div class="field-group">
    <label for="mark_up-field" class="label">Mark-up Price (£):</label>
    <div class="field">
      <input
        type="text"
        name="mark_up"
        id="mark_up-field"
        placeholder="Mark-up Price"
        required
      />
   </div>
  </div>

  <div class = "field-group">
    <label for="quantity-selection" class="label">Quantity:</label>
    <div class ="field">
      <select name="quantity" id="quantity-selection">
        <% [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,
          12, 13, 14, 15, 16, 17, 18, 19, 20].each do |number| %>
            <option><%= number %></option>
          <% end %>
      </select>
    </div>
  </div>

  <button class="big-button button">Add New Album</button>
</form>
